*.conifg filter=lfs diff=lfs merge=lfs -text
*.state_dict filter=lfs diff=lfs merge=lfs -text
*.tokenizer filter=lfs diff=lfs merge=lfs -text
.tokenizer filter=lfs diff=lfs merge=lfs -text
.state_dict filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
aspect_extractors.pickle filter=lfs diff=lfs merge=lfs -text
